@font-face {
    font-family: Montserrat-Light;
    src: url("../../../public/fonts/Montserrat-Light.ttf");
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #252f53, #5ac8be);
    height: 100vh;
    color: white;
    font-family: Montserrat-Light, sans-serif;
    font-weight: 100;
}
.login__title {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 30px;
}
.login__form {
    width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form__group {
    position: relative;
    gap: 10px;
}
.form__field {
    padding: 10px 10px 10px 40px;
    width: 300px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: Montserrat-Light, sans-serif;
    font-size: 18px;
}

.form__btn {
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: .5s;
    margin-top: 30px;
    font-family: Montserrat-Light, sans-serif;

}
.form__btn:hover {
    transform: scale(1.05);
}
.form__img {
    width: 30px;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.form__remember {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form__remember+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form__remember+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.form__remember:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form__remember:hover+label::before {
    cursor: pointer;
}
.form__remember:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.form__remember:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.form__remember:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.form__remember:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.form__remember:disabled+label::before {
    background-color: #e9ecef;
}