body {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #252f53, #5ac8be);
    height: 100vh;
    color: white;
}
.login__title {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 30px;
}
.login__form {
    width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form__group {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.form__field {
    padding: 10px 10px 10px 40px;
    width: 300px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.form__btn {
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: .5s;
    margin-top: 30px;
}
.form__btn:hover {
    transform: scale(1.05);
}
.form__img {
    width: 30px;
    position: absolute;
    left: 0;
}